<h1>LOG IN</h1>
<%= stylesheet_link_tag 'login' %>


<%= form_with url: sessions_path, local: true do |form| %>
  <% if flash[:alert] %>
    <div style="color: red;">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div>
    <%= form.label :email, "E-mail" %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :password, "Password" %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit "Login" %>
  </div>
<% end %>

<p>if you don't have an account, <%= link_to 'Register', new_user_path %></p>