<h1>Edit My Profile</h1>

<%= link_to "Edit My Profile", edit_user_path(current_user) %> 

<%= form_with model: @user, local: true do |form| %>
  <% if flash[:alert] %>
    <div style="color: red;">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div>
    <%= form.label :email, "E-mail" %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :password, "New Password (optional)" %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :role, "Role" %>
    <%= form.select :role, [['Student', 'student'], ['Academic', 'academic']] %>
  </div>

  <div>
    <%= form.submit "Update" %>
  </div>
<% end %>