<h1>YOUR PROFILE</h1>
<%= stylesheet_link_tag 'profile' %>

<div class="profile-container">
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>Role:</strong> <%= @user.role.capitalize %></p>

  <div class="profile-section">
    <h3>Personal Information</h3>
    <p><%= @user.personal_information || "No personal information added." %></p>
  </div>

  <div class="profile-section">
    <h3>About Me</h3>
    <p><%= @user.about_me || "No information provided." %></p>
  </div>

  <div class="profile-section">
    <h3>Education</h3>
    <p><%= @user.education || "No education details provided." %></p>
  </div>

  <div class="profile-section">
    <h3>Experience</h3>
    <p><%= @user.experience || "No experience details provided." %></p>
  </div>

  <div class="profile-section">
    <h3>Skills</h3>
    <p><%= @user.skills || "No skills provided." %></p>
  </div>

  <%= link_to "Edit My Profile", edit_user_path(current_user) %> <!-- Profil düzenleme linki -->
</div>
