<h1>Posts</h1>

<%= link_to "Add New Post", new_post_path, class: "btn btn-success" %>

<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-card">
      <h3><%= post.content %></h3>
      <% if post.is_event %>
        <p><strong>Event Date:</strong> <%= l(post.date, format: :long) %></p>
      <% end %>
      <p><strong>Posted by:</strong> <%= post.user.name %></p>

      <% if post.user == current_user %>
        <%= button_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>